header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 150px;
    width: 500px;
    margin: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

header>h1 {
    color: #2f669a;
    font-weight: bold;
}

a {
    background-color: #e8e9e8;
    font-size: 1rem;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

a:hover {
    background-color: #3d515c;
    color: #fff;
}