h1 {
    font-size: 1.5rem;
    margin-left: 20px;
}

ol {
    list-style: none;
}

li {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 15px;
}

button {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
}

span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

span:first-child {
    background-color: #3e4f61;
    color: #fff;
    width: 20%;
}

span:nth-child(2) {
    background-color: #e8e9e8;
    width: 80%;
}

span:nth-child(2):hover {
    background-color: #757575;;
}

span.selected {
    background-color: #000;
    color: #fff;
}

span.selected:hover {
    background-color: #000;
}